body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 33px;
  color: #333745;
  text-decoration: none;
}
.class, .about, .services, .contact{
  height: 700px;
}
/**This is my header styling**/
header{
  height: 55px;
  background-color:rgba(234,233,244,.8);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  float: right;
}
header img{
  float: left;
}
/**This is my Nav bar**/
nav{
  /*font-size: 18px;*/
  text-transform: capitalize;
  float: right;
  font-weight: 600;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding-right: 8px;

}
nav ul li a{
  color: #333745;
  text-decoration: none;
}
  a:hover{
     color:#1b998b;
     text-decoration:none;
     cursor:pointer;
}


/** HOME **/
.home {
  padding-top: 50px;
  background-image: url(../img/background-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 700px;
}
.home h1{
  font-family: 'relation', sans-serif;
  font-size: 70px;
  margin-bottom: 0;
}
.home h3 {
  font-family: 'playfair display';
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  padding-left: 200px;
  padding-right: 200px;
}
.home span{
  color: #1b998b;
}
/**Services**/
.services {
  background-image: url(../img/services.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services h1, p {
  font-family: 'relation', sans-serif;
  font-size: 55px;
  text-align: center;
  margin: 0;
  padding-top: 75px;
  line-height: 1;
  padding-left: 200px;
  padding-right: 200px;
}

.services h1 span{
  color: #1b998b;
}
.services h2{
  text-align: center;
  font-family: 'playfair display';
  font-size: 32px;
  margin: 0;
  padding: 0 250px 30px 250px;
}
.services p{
  border-bottom: solid #1b998b 1px;
}
.services .fourthwidth{
  width: 330px;
  height: 300px;
  float: left;}
#exp, #ps, #inv{
  border-right: solid #1b998b 1px;
}
.services .fourthwidth h3{
  font-family: 'playfair display', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 0;
}
.services .fourthwidth img{
display: block;
margin:0 auto;
}

/** ABOUT**/
.about {
  padding-top: 55px;
  background-image: url(../img/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.about img {
    display: block;
    margin: auto;
}
.about h1, p{
  padding-left: 200px;
  padding-right: 200px;
}
.about h1{
  font-family: 'relation', sans-serif;
  font-size: 50px;
  padding-top: 10px;
  margin: 0;
}
.about p{
  font-family: 'playfair display', sans-serif;
  font-size: 28px;
  margin-top: 0;
  padding-top: 0;
  line-height: normal;
}
/**FAQs**/
.faqs{
  height: 925px;
  padding-top: 50px;
  background-image: url(../img/faqs.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.faqs h1, h2, p{
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;
  padding-top: 5px;
}
.faqs h1{
  font-family: 'relation', sans-serif;
  font-size: 60px;
}
.faqs h2{
  font-family: 'playfair display', sans-serif;
  font-size: 35px;
}
.faqs span{
  color: #1b998b;
}
.faqs p{
  font-family: 'playfair display', sans-serif;
  font-size: 25px;
  line-height: normal;
  padding-bottom: 15px;
}

/**CONTACT**/
.contact{
  padding-top: 50px;
  background-image: url(../img/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.contact h1{
  font-family: 'relation', sans-serif;
  font-size: 65px;
  padding-top: 100px;
  padding-left: 50px;
  margin-bottom: 0;
}
.contact ul li {
  font-family: 'open sans';
  font-size: 30px;
  margin-top: 0;
  list-style: none;

}
.contact ul li a{
  text-decoration: underline;
    color: #333745;
}
.contact ul li span a{
  text-decoration: none;
    color: #333745;
}



/**FOOTER**/
footer{
  margin-top: 10px;
  height: 50px;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%;
  bottom: 0; /* Position the footer at the bottom of the page */
  background-color:rgba(27,153,139,.6);
  padding-top: 5px;
}
footer .button{
    background-color: #696773;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    margin: 0 0 0 5px;
    float:left;
}
footer a{
  font-size: 15px;
  color: white;
  text-decoration: none;
}
footer .socialmedia{
  margin-top: 0;
  margin-bottom: 0;
  padding-left:0;
  float: right;
}
footer .socialmedia li{
  display: inline-block;
  list-style-type: none;
}
